.App {
  text-align: center;
  font-size: 14pt;
}

input, textarea {
  font-size: 14pt;
  margin-bottom: 5px;
}

.btn {
  background: blue;
  display: block;
  padding: 1rem 3rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

.green{
  background: #7a7;
}
.red{
  background: #a77;
}
.blue{
  background: #77a;
}

.item {
  border-bottom: 1px dashed black;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}